/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/public-sans';
@import '@fontsource-variable/manrope';
@import '@fontsource-variable/plus-jakarta-sans';
@import '@fontsource-variable/bricolage-grotesque';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/* Outfit font for auth pages */
@import '@fontsource/outfit/300.css';
@import '@fontsource/outfit/400.css';
@import '@fontsource/outfit/500.css';
@import '@fontsource/outfit/600.css';
@import '@fontsource/outfit/700.css';
@import '@fontsource/outfit/800.css';

/* Space Grotesk for mono/code elements */
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/700.css';


/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* map */
@import './components/map/styles.css';

/* lightbox */
@import './components/lightbox/styles.css';

/* chart */
@import './components/chart/styles.css';


/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

/* Improve text rendering quality globally */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' on, 'kern' on, 'calt' on;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/** **************************************
* Before/After Image Slider
*************************************** */
.no-transition {
  transition: none !important;
}

.slider-handle.active {
  opacity: 1;
}
